{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rincon | home</title>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
</head>

<body>

    {% include "website/navbar.html" %}

    <div>
        <img class="base_backroundimg_1" src="{% static 'website/images/base_imgfinal.png' %}" alt="backroundimg_1">
    </div>

    <main>
        <div class="introduccion">
            <div class="intro_text">
                <h2 class="intro_title">Bienvenido a Rincón</h2>
                <p class="intro_desc">
                    Creamos espacios únicos que combinan estilo, simplicidad y funcionalidad.
                    Rediseñá tu hogar con asesoramiento profesional y accesible.
                </p>
                <a href="{% url 'cuentas:registro' %}" class="intro_btn">Comenzar</a>
            </div>
            <div class="collage_introduccion">
                <div class="item_1">
                    <img class="collage_1" src="{% static 'website/images/collage_1.jpeg' %}" alt="">
                </div>

                <div class="item_2">
                    <img class="collage_2" src="{% static 'website/images/collage_2.jpeg' %}" alt="">
                </div>

                <div class="item_3">
                    <img class="collage_3" src="{% static 'website/images/collage_3.jpeg' %}" alt="">
                </div>
            </div>
        </div>
    </main>

<section class="explorar">
    <h2>Explorá diferentes proyectos</h2>

    <div class="explorar-grid">

        <div class="explorar-card">
            <img src="{% static 'website/images/explorar_minimalista.jpg' %}">
            <div class="explorar-info">
                <h3>Minimalista</h3>
                <p>Líneas limpias, calma y funcionalidad.</p>
                {% if user.is_authenticated %}
                <a href="/herramientas/lista/?buscar=minimal" class="explorar-btn">
                {% else %}
                <a href="{% url 'cuentas:login' %}" class="explorar-btn">
                {% endif %}
                Explorar
                </a>
            </div>
        </div>

        <div class="explorar-card">
            <img src="{% static 'website/images/explorar_moderno.jpg' %}">
            <div class="explorar-info">
                <h3>Moderno</h3>
                <p>Avanzado y elegante.</p>
                {% if user.is_authenticated %}
                <a href="/herramientas/lista/?buscar=moderno" class="explorar-btn">
                {% else %}
                <a href="{% url 'cuentas:login' %}" class="explorar-btn">
                {% endif %}
                Explorar
                </a>
            </div>
        </div>

        <div class="explorar-card">
            <img src="{% static 'website/images/explorar_industrial.jpg' %}">
            <div class="explorar-info">
                <h3>Industrial</h3>
                <p>Materiales crudos y carácter urbano.</p>
                {% if user.is_authenticated %}
                <a href="/herramientas/lista/?buscar=industrial" class="explorar-btn">
                {% else %}
                <a href="{% url 'cuentas:login' %}" class="explorar-btn">
                {% endif %}
                Explorar
                </a>
            </div>
        </div>

    </div>
</section>


<section class="cta-section">
    <div class="cta-overlay">
        <a href="#" class="cta-btn">Contactanos</a>
    </div>
</section>
<link rel="stylesheet" href="{% static 'website/css/footer.css' %}">

{% include "website/footer.html" %}