{% load static %}
<link rel="stylesheet" href="{% static 'website/css/navbar_0.01.css' %}">
<header class="navbar">
    <h1 class="logo">Rincon</h1>

    <nav>
        <a href="{% url 'base' %}">Inicio</a>
        <a href="#sobre">Sobre Nosotros</a>
        <a href="{% url 'lista_proyectos' %}">Galería</a>

        {% if user.is_authenticated %}
            <a href="{% url 'perfil' %}" class="nav-link">Mi Espacio</a>

            {% if user.imagen_perfil and user.imagen_perfil.name != 'default.jpg' %}
                <img
                    src="{{ user.imagen_perfil.url }}"
                    class="foto-perfil"
                    alt="Foto de perfil de {{ user.username }}"
                >
            {% else %}
                <img
                    src="{% static 'website/img/default_profile.svg' %}"
                    class="foto-perfil"
                    alt="Imagen de perfil predeterminada"
                >
            {% endif %}
        {% else %}
            <a href="{% url 'cuentas:registro' %}">Registrarse</a>
            <a href="{% url 'cuentas:login' %}">Iniciar sesión</a>
        {% endif %}
    </nav>
</header>
