.perfil-container {
    width: 80%;
    margin: 4rem auto;
    text-align: center;
}

/* Foto de prefil */
.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.titulo {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: #333;
}

.perfil-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.tarjeta {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: left;
}

.tarjeta h3 {
    color: #444;
    margin-bottom: 1rem;
}

.tarjeta p {
    margin: 0.4rem 0;
    color: #555;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 1.2rem;
    background: black;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.7;
}
