<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <title>
            <h1>Rincones</h1>
        </title>
        <div>
            <p>home</p>

        </div>
        <div>
            <p>nosotros</p>

        </div>
        <div>
            servicios
        </div>
        <div>
            <p>log in log out</p>
        </div>
     
    </nav>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>