{% load static %}

<link rel="stylesheet" href="{% static 'herramientas/css/detalle1.css' %}">

<div class="detalle-container">

    <div class="detalle-img">
        <img src="{{ proyecto.imagen.url }}" alt="{{ proyecto.titulo }}">
    </div>

    <div class="detalle-info">

        <h1>{{ proyecto.titulo }}</h1>

        {% if proyecto.subtitulo %}
            <h3 class="subtitulo">{{ proyecto.subtitulo }}</h3>
        {% endif %}

        <p class="categoria">Categoría: <strong>{{ proyecto.categoria }}</strong></p>

        <p class="descripcion">{{ proyecto.descripcion }}</p>

        <p class="precio">${{ proyecto.precio }}</p>

        <div class="estadisticas">

    <h3>Valoraciones</h3>

    {% if cantidad_resenas > 0 %}
        <p>
            {{ promedio_resenas|floatformat:1 }}/5
            ({{ cantidad_resenas }} reseñas)
        </p>
    {% else %}
        <p>Todavía no hay reseñas.</p>
    {% endif %}

</div>

        <div class="botones">

     {% if user.is_authenticated %}
<form action="{% url 'toggle_favorito' proyecto.id %}" method="post">
    {% csrf_token %}
    <button class="btn-fav">
        {% if es_favorito %}
            ♥ Guardado
        {% else %}
            ♡ Guardar
        {% endif %}
    </button>
    {% if user.is_authenticated and not user.is_staff %}
    <a
        href="{% url 'crear_solicitud' proyecto.id %}"
        class="btn-solicitar"
    >
        Solicitar servicio
    </a>
{% endif %}
</form>
{% endif %}
            {% if user.is_staff %}
                <a class="btn-editar" href="{% url 'editar_proyecto' proyecto.id %}">Editar</a>
                <a class="btn-borrar" href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar</a>
            {% endif %}
        </div>

        <a href="{% url 'lista_proyectos' %}" class="btn-volver">Volver</a>

    </div>
    <div class="resenas">

    <h2>Opiniones de los clientes</h2>

    {% if user.is_authenticated %}
    <a class="btn-resena"
       href="{% url 'guardar_resena' proyecto.id %}">
        Escribir reseña
    </a>
{% endif %}

    {% for resena in resenas %}

        <div class="resena-card">

            <strong>{{ resena.usuario.username }}</strong>

            <p class="estrellas">
                {% for i in "12345" %}
                    {% if forloop.counter <= resena.puntuacion %}
                        ★
                    {% else %}
                        ☆
                    {% endif %}
                {% endfor %}
            </p>

            <p>{{ resena.comentario }}</p>

            <small>
                {{ resena.fecha|date:"d/m/Y" }}
            </small>
            {% if user == resena.usuario %}
                <div class="acciones-resena">

                    <a href="{% url 'guardar_resena' proyecto.id %}">
                        Editar
                    </a>

                    <form
                        action="{% url 'eliminar_resena' resena.id %}"
                        method="post">

                        {% csrf_token %}

                        <button type="submit">
                            Eliminar
                        </button>

                    </form>

                </div>
            {% endif %}

        </div>

    {% empty %}

        <p>Este proyecto todavía no tiene reseñas.</p>

    {% endfor %}

</div>
</div>
