/* CONTENEDOR GENERAL */
.detalle-container {
    display: flex;
    gap: 40px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

/* IMAGEN */
.detalle-img img {
    width: 450px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

/* INFO */
.detalle-info {
    flex: 1;
}

.detalle-info h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 20px;
    opacity: 0.7;
    margin-bottom: 20px;
}

.categoria {
    font-size: 15px;
    margin-bottom: 10px;
}

.descripcion {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}

.precio {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

/* BOTONES */
.botones {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.btn-fav {
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #f1d2c9;
}

.btn-editar {
    padding: 10px 18px;
    background: #b8a48e;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.btn-borrar {
    padding: 10px 18px;
    background: #d9534f;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.btn-volver {
    display: inline-block;
    margin-top: 20px;
    color: #444;
    text-decoration: none;
    font-weight: bold;
}