.lista-proyectos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    border: 2px solid #000;
    padding: 15px;
    border-radius: 12px;
}

.card img {
    width: 250px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
}

.card .info {
    flex: 1;
    padding: 0 20px;
}

.card .precio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    background: black;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}