{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Rincón | Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'cuentas/css/login.css' %}">
</head>

<body>

    <div class="login-container">
        <h2>Iniciar Sesión</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Entrar</button>
        </form>

        {% if messages %}
        <div class="messages">
            {% for msg in messages %}
            <p>{{ msg }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <p>¿No tienes cuenta? <a href="{% url 'cuentas:registro' %}">Regístrate aquí</a></p>
    </div>

</body>

</html>